/* line 1, ../sass/app.scss */
.row {
  width: 100%;
}
/* line 4, ../sass/app.scss */
.row .navbar {
  background-color: #ffffff !important;
  width: 90%;
}
/* line 19, ../sass/app.scss */
.row .navbar .collapse1 .collapse2 .tel {
  text-align: center;
  width: 190px;
  background-color: #ffd200;
  display: inline-block;
  color: #212121;
  border-radius: 7px;
}
/* line 28, ../sass/app.scss */
.row .navbar .collapse1 .collapse2 .fa {
  color: #757273;
  padding-left: 50px;
}

/* line 37, ../sass/app.scss */
section.logo {
  width: 100%;
  height: 540px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* line 45, ../sass/app.scss */
section.logo .text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/* line 52, ../sass/app.scss */
section.logo .text h2 {
  font-family: PFAgoraSansPro;
  font-size: 45px;
  padding-top: 50px;
}
/* line 58, ../sass/app.scss */
section.logo .text h4 {
  font-family: PFAgoraSansPro;
  font-size: 24px;
  margin-top: 10px;
}
/* line 66, ../sass/app.scss */
section.logo .text a li {
  font-family: PFAgoraSansPro;
  font-size: 26px;
  color: #212121;
  width: 385px;
  height: 55px;
  border-radius: 7px;
  border: 1px solid #070606;
  padding: 8px;
  list-style-type: none;
  margin-top: 60px;
}

/* line 83, ../sass/app.scss */
section.cardmain .row {
  padding: 50px 0;
  text-align: center;
}
/* line 87, ../sass/app.scss */
section.cardmain .row hr {
  position: absolute;
  margin-top: 73px;
  width: 80%;
  border: 2px dashed #fcd40a;
  margin: 0 auto;
}
/* line 96, ../sass/app.scss */
section.cardmain .row .card {
  border: none;
  background-color: transparent;
}
/* line 100, ../sass/app.scss */
section.cardmain .row .card a {
  text-align: center;
}
/* line 103, ../sass/app.scss */
section.cardmain .row .card a .card1 {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 5px solid #fcd40a;
}
/* line 110, ../sass/app.scss */
section.cardmain .row .card a h4 {
  font-family: PFAgoraSansPro;
  font-size: 24px;
  color: #1f1f1f;
  margin-top: 30px;
}
/* line 120, ../sass/app.scss */
section.cardmain .row .text {
  font-sazi: 50px;
}

/* line 136, ../sass/app.scss */
section.advantage .row .advan {
  text-align: center;
  background-color: #f3f0e7;
}
/* line 142, ../sass/app.scss */
section.advantage .row .advan h2 {
  font-family: PFAgoraSansPro;
  font-size: 45px;
  color: #000000;
  margin: 50px;
}
/* line 149, ../sass/app.scss */
section.advantage .row .advan .img1 {
  border-radius: 50%;
  width: 70%;
  height: 220px;
}
/* line 154, ../sass/app.scss */
section.advantage .row .advan h4 {
  font-family: PFAgoraSansPro;
  font-size: 24px;
  color: #000000;
  padding: 15px;
}
/* line 160, ../sass/app.scss */
section.advantage .row .advan p {
  font-family: PFAgoraSansPro;
  font-size: 16px;
  color: #000000;
}
/* line 166, ../sass/app.scss */
section.advantage .row .advan li {
  font-family: PFAgoraSansPro;
  font-size: 26px;
  color: #ffffff;
  width: 385px;
  border-radius: 7px;
  background-color: #e11a27;
  padding: 8px;
  list-style-type: none;
  margin-top: 50px;
  margin-left: 365px;
  margin-bottom: 50px;
}

/* line 185, ../sass/app.scss */
section.ready h2 {
  font-family: PFAgoraSansPro;
  font-size: 45px;
  padding-top: 50px;
  text-align: center;
}
/* line 191, ../sass/app.scss */
section.ready .row {
  text-align: center;
}
