@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
.row{ 
	width: 100%;

	.navbar{
		background-color: #ffffff !important;
		width: 90%; 

		a{

		}
		.collapse{

		}
		.collapse1{
			

			.collapse2{

				.tel{
					text-align: center;
					width: 190px;
					background-color: #ffd200;
					display: inline-block;
					color: #212121;
					border-radius: 7px;					
				}
										
				.fa{
					color: #757273;
					padding-left: 50px;
					
				}
			}
		}	    			
	}
}
section.logo{
	width: 100%;
    height: 540px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    
    .text{
    	display: flex;
    	align-items: center;
    	justify-content: center;
    	flex-direction: column;
    

		h2{
			font-family: PFAgoraSansPro;
			font-size: 45px;
			padding-top: 50px;
			   
		}
		h4{
			font-family: PFAgoraSansPro;
			font-size: 24px;
			margin-top: 10px;

		}	
		a{

			li{
				font-family: PFAgoraSansPro;
				font-size: 26px;
			    color: #212121;
			    width: 385px;
			    height: 55px;
			    border-radius: 7px;
			    border: 1px solid #070606;
			    padding: 8px;
			    list-style-type: none;
			    margin-top: 60px;
			}
		}
	}	
}
section.cardmain{

	.row{
		padding: 50px 0;
		text-align:  center;
		
		hr{
			position: absolute;
    		margin-top: 73px;
    		width: 80%;
			border: 2px dashed #fcd40a;
			margin: 0 auto;
   			
			
    	}	
    	.card{	
    		border: none;
    		background-color: transparent;

    		a{
    			text-align: center;

				.card1{
					border-radius: 50%;
					width: 150px;
					height: 150px;					
					border: 5px solid #fcd40a;
				}
											
				h4{
					
					font-family: PFAgoraSansPro;
					font-size: 24px;
				    color: #1f1f1f;
				    margin-top: 30px;
				}
				
			}
		}
		.text{

			font-sazi: 50px;

						
			
			h5{

			}
		}		
	}
}
section.advantage{

	.row{ 

		.advan{
			text-align: center;
			background-color: #f3f0e7;



			h2{
				font-family: PFAgoraSansPro;
				font-size: 45px;
			    color: #000000;
			    margin: 50px;

			}				
			.img1{
				border-radius: 50%;
				width: 70%;
				height: 220px;
			}
			h4{
				font-family: PFAgoraSansPro;
				font-size: 24px;
			    color: #000000;
			    padding: 15px;
			}
			p{
				font-family: PFAgoraSansPro;
				font-size: 16px;
			    color: #000000;

			}
			li{
				font-family: PFAgoraSansPro;
				font-size: 26px;
			    color: #ffffff;
			    width: 385px;
			    border-radius: 7px;
			    background-color: #e11a27;
			    padding: 8px;
			    list-style-type: none;
			    margin-top: 50px;
			    margin-left: 365px;
			    margin-bottom: 50px;
			    
    		}
		}
	}
}
section.ready{

	h2{
		font-family: PFAgoraSansPro;
		font-size: 45px;
		padding-top: 50px;
		text-align: center;
	}
	.row{
		text-align: center;


		h6{


		}
		h5{
			font-family: Myriad Pro;
			font-size: 36px;
		    color: #000000;
		    width: 385px;
		    border-radius: 7px;
		    background-color: #ffd200;
		    padding: 8px;
		    list-style-type: none;
		    margin-top: 50px;
		    margin-bottom: 50px;


		}
		p{


		}
	}
}
		
		
